a:link { text-decoration: none; }
a:visited { text-decoration: none; }
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FDD6F1;
}
h1 {
  font-family: Oswald, tahoma, helvetica;
  background-color: white;
  color: black;
}
h3 {
  font-family: Oswald, tahoma, helvetica;
  background-color: white;
  color: black;
}
p {
  font-family: Nanum Gothic, tahoma, helvetica;
  font-size: 17px;
  color: black;
}
dd {
  font-family: Nanum Gothic, tahoma, helvetica;
  color: black;
}
dt {
  font-family: Nanum Gothic, tahoma, helvetica;
  color: black;
}
ul {
  font-family: Nanum Gothic, tahoma, helvetica;
  color: black;
}
li {
  font-family: Nanum Gothic, tahoma, helvetica;
  color: black;
  margin: 0 0 5px 0;
}

/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}
.navbar a {
  font-family: Oswald, monospace;
  font-size: 25px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 10px 0 10px 0;
  width: 25%;
  transition: background 325ms ease;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* boxes, etc. */
.box {
  border-style: solid;
  border-color: silver;
  border-width: 7px;
  text-align: left;
  background-color: white;
  padding: 0 0 15px 20px;
  margin: 50px 150px 0 150px;
}

.button-box {
  text-align: left;
  background-color: #FF816D;
  padding: 4px 4px 4px 4px;
  margin: 0 5px 0 5px;
  color: white !important;
  transition: background 350ms ease;
}

.button-box:hover {
  text-align: center;
  background-color: #D6280D;
  color: white !important;
}

.button-box-blue {
  text-align: center;
  background-color: #4CC9F5;
  padding: 4px 4px 4px 4px;
  margin: 0 5px 100px 5px;
  color: white !important;
  transition: background 350ms ease;
}

.button-box-blue:hover {
  text-align: center;
  background-color: #1E8DFE;
  color: white !important;
}


.section-divider {
  font-family: Oswald, tahoma, helvetica;
  text-align: center;
  margin: 20px 0 20px 0;
}
.smallMargin {
  margin: 0 0 0 15px;
}
.ender {
  min-height: 100px;
}
.starter {
  min-height: 15px;
}
.grey-divider {
  background-color: grey;
  min-height: 5px;
}

/* Section Stylings */
.aboutMe {
  display: grid;
  background: #FDD6F1;
  font-size: 16px;
  min-height: auto;
  text-align: center;
}

.about-me-box {
  text-align: center;
  background-color: white;
  padding: 30px 30px 40px 20px;
  margin: 10px 350px 50px 100px;
}

.education {
  background-color: #AEE1FF;
  min-height: auto;
  margin: -35px 0 0 0;
}
.experience {
  background-color: #FFA7A5;
  min-height: auto;
  margin: -35px 0 0 0;
}
.extracurricular {
  background-color: #FFE5AE;
  min-height: auto;
  margin: -35px 0 0 0;
}
.projects {
  background-color: #B2FFE9;
  min-height: auto;
  margin: -35px 0 0 0;
}
.discography {
    background-color: #DBBBFF;
    min-height: auto;
    margin: -35px 0 0 0;
}

/* Footer */
.footer-content {
  background-color: silver;
  text-align: center;
  font-family: Noto Sans JP, monospace;
  min-height: 175px;
}
.footer-links {
  margin: 0 25px 0 0px;
  color: black;
  font-family: Nanum Gothic, monospace;
}
